/* 전체 스타일 */

/* 미디어 쿼리 - 화면 폭이 768px 이하일 때 */
@media screen and (max-width: 768px) {
  .myinformation {
    height: auto;
    margin-top: 3%;
  }

  .Businesscard {
    width: 80%;
    height: auto;
    transform: translateX(10%);
  }

  .aboutme {
    width: 90%;
    margin-left: 5%;
  }

  .abouttitle {
    margin-left: 5%;
  }

  .projectimgbox,
  .techbox,
  .awardbox {
    height: auto;
  }

  .projectbox {
    height: auto;
    margin-bottom: 3%;
  }

  .githubButton {
    margin-left: 10%;
    margin-top: 3%;
  }
}
/* 내 정보 스타일 */
.myinformation {
  width: 100%;
  height: 20%;
}

.Introduction_sentence{
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10%;
  margin-top: 5%;
}

/* 명함 카드 스타일 */
.Businesscard {
  position: absolute;
  width: 30%;
  height: auto;
  margin-left: 10%;
  border: 4px solid white;
  border-radius: 10px;
  display: flex;
  padding: 2%;
  background-color: #dddddd; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  

  /* 내부 텍스트와 이미지에 대한 여백 추가 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  width: 100%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.information p {
  flex: 1;
  color: #000;
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 0;
  
}

/* 나에 대한 소개글 스타일 */
.aboutme {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 19%;
  z-index: 1;
 
}

.abouttitle {
  width: 30%;
  height: auto;
  font-size: 1.5vw;
  margin-left: 62%;
}

.aboutinfor2 {
  position: relative;
  width: auto;
  padding-top: 3%;
  margin-left: 30%;
  height: auto;
}

/* 프로젝트 이미지 박스 스타일 */
.projectimgbox {
  width: 100%;
  height: auto;
  background-color: #fff;
}

.projectimgbox p {
  font-size: 4.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 1%;
}

/* 프로젝트 이미지 슬라이드 스타일 (자동) */
.divider {
  position: relative;
  width: 50%;
  height: 1px;
  background-color: #333;
  margin-bottom: 3%;
  margin-left: 25%;
}

/* 프로젝트 이미지 상세 스타일 */
.imageContainer {
  position: static;
  overflow: hidden;
}

.imageContainer:hover .projectimg {
  opacity: 0.7;
}

.projectimg {
  transform: translateX(125%);
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.hideback {
  position: absolute;
  width: 20%;
  height: 50%;
  background: linear-gradient(180deg, #ebabab 0%, rgba(255, 243, 243, 0) 100%);
  transform: translate(118%, 37%);
  border-radius: 10px;
  z-index: -1;
}

.slideimg {
  position: relative;
  width: 75%;
  height: 55%;
  margin-left: 13%;
  transform: translateY(-15%);
}

.projectbox {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  border-radius: 15px;
}

.projectname {
  position: absolute;
  width: 25%;
  height: 20%;
  margin-top: -30%;
  margin-left: 50%;
  z-index: 8;
}

.projectimginfor {
  transform: translateY(30%);
  height: auto;
}

.projectimginfor p {
  color: #fff;
}

/* 버튼 스타일 */
.githubButton {
  display: inline-block;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #f96565;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.2vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 17%;
  margin-top: 5%;
}

.githubButton:hover {
  background-color: #f89696;
  color: #ffffff;
}

/* 기술 내용 */
.techbox {
  position: relative;
  width: 80%;
  max-width: auto;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.techbox p {
  font-size: 4.5vw;
  font-weight: bold;
  margin-bottom: 1%;
}

.techbox_content_box {
  margin-top: 20px;
}

.techbox_content_box p {
  font-size: 1.3vw;
  line-height: 1.6;
  color: #555;
}

.techbox_content {
  margin-top: 10px;
}

.techbox_content li {
  font-size: 1.2vw;
  line-height: 1.6;
  font-weight: normal;
  color: #555;
  list-style-type: square;
  margin-left: 2%;
  margin-bottom: 10px;
}

/* 수상 상세 내용 */
.awardbox {
  position: relative;
  height: auto;
  max-height: auto;
  width: 80%;
  max-width: auto;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.awardtitle {
  font-size: 4.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 1%;
}

.awarddetail {
  position: relative;
  width: 100%;
  height: 100%;
}

.awarddetail_title {
  font-size: 2.5vw;
  display: flex;
  justify-content: left;
  font-weight: bold;
  margin-bottom: 1%;
}

.awarddetail_content_title {
  font-size: 1.5vw;
  display: flex;
  justify-content: left;
  font-weight: bold;
}

.awarddetail_content_title a:visited{
  color: inherit !important;
  text-decoration-line: none;
}

.awarddetail_content {
  font-size: 1.2vw;
  display: flex;
  justify-content: left;
}

/* 자기소개 부분 스타일 */
.who {
  position: relative;
  width: 80%;
  max-width: auto;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.who_title {
  font-size: 4.5vw;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 2.5vw;
  font-weight: bold;
  margin-left: 1%;
}

.who_introduce_box {
  margin-top: 20px;
}

.who_introduce_box p {
  font-size: 1.3vw;
  line-height: 1.6;
  color: #555;
}

.who_introduce_box ul {
  list-style-type: square;
  margin-left: 2.5%;
  padding-left: 10px;
}

.who_introduce_box ul li {
  font-size: 1.2vw;
  margin-bottom: 10px;
  color: #333;
}

/* 추가된 디자인 요소 */
.who_introduce_box strong {
  color: #000;
}

.who_introduce_box hr {
  border: 1px solid #ddd;
  margin: 20px 0;
}
