.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 4800px;
  position: absolute;
  background-color: rgb(255, 255, 255);
}


.headerline {
  position: absolute;
  width: 100%;
  height: 1%;
  top: 0;
}

.mobileboxline {
  position: absolute;
  width: 100%;
  top: 2%;
  height: 70%;
}

.footerline {
  position: absolute; /* 고정된 위치로 변경 */
  width: 100%;
  height: 1%;
  bottom: 0;
}
